.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid gray;
    background-color: white;
}

.h1 {
    padding-left: 3vw;
}

.nav {
    padding-right: 3vw;
}

.nav li {
    list-style-type: none;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}